Temp/Objects/APC910/5PC900_TS17_02/.mappView/data/wwwRoot/BRVisu/widgets/brease/TableItemImageList/meta/TableItemImageList_EventsActions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.br-automation.com/iat2014/eventbinding/v2" xmlns:s1="http://www.br-automation.com/iat2014/eventbinding/v2" xmlns:types="http://www.br-automation.com/iat2015/widgetTypes/v2" xmlns:var="http://www.br-automation.com/iat2015/varTypes/v2" elementFormDefault="qualified">
	<xs:complexType name="widgets.brease.TableItemImageList.Action">
		<xs:complexContent>
			<xs:extension base="s1:Target.BaseWidget">
				<xs:sequence>
					<xs:element name="Method" type="s1:widgets.brease.TableItemImageList.Action.widgetMethod"></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.TableItemImageList.Action.widgetMethod" abstract="true">
		<xs:complexContent>
			<xs:extension base="s1:widgetMethod"></xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.TableItemImageList.Action.SetColumnWidth">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.TableItemImageList.Action.widgetMethod">
				<xs:attribute name="value" type="var:Size" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.TableItemImageList.Action.SetEnable">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.TableItemImageList.Action.widgetMethod">
				<xs:attribute name="value" type="var:Boolean" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.TableItemImageList.Action.SetImageList">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.TableItemImageList.Action.widgetMethod">
				<xs:attribute name="imageList" type="var:GraphicCollection" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.TableItemImageList.Action.SetRowHeight">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.TableItemImageList.Action.widgetMethod">
				<xs:attribute name="value" type="var:Size" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.TableItemImageList.Action.SetSelectedIndex">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.TableItemImageList.Action.widgetMethod">
				<xs:sequence>
					<xs:element name="Arguments" minOccurs="1" maxOccurs="1">
						<xs:complexType>
							<xs:all>
								<xs:element name="selectedIndex" type="types:NumberArray1D_Variable" minOccurs="1" maxOccurs="1"></xs:element>
							</xs:all>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.TableItemImageList.Action.SetText">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.TableItemImageList.Action.widgetMethod">
				<xs:attribute name="value" type="var:String" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.TableItemImageList.Action.SetVisible">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.TableItemImageList.Action.widgetMethod">
				<xs:attribute name="value" type="var:Boolean" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.TableItemImageList.Event">
		<xs:complexContent>
			<xs:extension base="s1:Source.BaseWidget">
				<xs:attribute name="event" type="s1:widgets.brease.TableItemImageList.Events" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="widgets.brease.TableItemImageList.Events">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Click"></xs:enumeration>
			<xs:enumeration value="DisabledClick"></xs:enumeration>
			<xs:enumeration value="EnableChanged"></xs:enumeration>
			<xs:enumeration value="SelectedImageIndexChanged"></xs:enumeration>
			<xs:enumeration value="VisibleChanged"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>